<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailei.modules.sys.mapper.OperationLogMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.operation_log_id AS "operationLogId",
        a.log_type AS "logType",
        a.log_name AS "logName",
        u.name AS "userName",
        a.user_id AS "userId",
        a.class_name AS "className",
        a.method AS "method",
        a.create_time AS "createTime",
        a.succeed AS "succeed",
        a.message AS "message"
    </sql>

    <!-- 根据ID获取记录详情 -->
    <select id="getById" resultType="com.sailei.modules.sys.entity.OperationLog">
        SELECT
          <include refid="Base_Column_List"/>
        FROM sys_operation_log a
        LEFT JOIN sys_user u ON a.user_id=u.user_id
        WHERE a.del_flag=0 and a.operation_log_id=#{id}
    </select>

    <!-- 根据条件获取记录列表 -->
    <select id="queryPage" resultType="com.sailei.modules.sys.entity.OperationLog">
        SELECT
          <include refid="Base_Column_List"/>
        FROM sys_operation_log a
        LEFT JOIN sys_user u ON a.user_id=u.user_id
        WHERE a.del_flag=0
        <if test="beginTime != null and beginTime !='' and endTime != null and endTime != ''">
            and (a.create_time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        <if test="logName != null and logName !=''">
            AND a.log_name LIKE CONCAT('%',#{logName},'%')
        </if>
        <if test="logType != null and logType !=''">
            and a.log_type like CONCAT('%',#{logType},'%')
        </if>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.create_time DESC
            </otherwise>
        </choose>
        <if test="page !=null and page != -1 and limit != null and limit != ''">
            limit ${page},${limit}
        </if>
    </select>

    <!-- 根据条件获取记录列表条数 -->
    <select id="queryCount" resultType="java.lang.Long">
        SELECT
          COUNT(1)
        FROM sys_operation_log a
        LEFT JOIN sys_user u ON a.user_id=u.user_id
        WHERE a.del_flag=0
        <if test="beginTime != null and beginTime !='' and endTime != null and endTime != ''">
            and (a.create_time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        <if test="logName != null and logName !=''">
            AND a.log_name LIKE CONCAT('%',#{logName},'%')
        </if>
        <if test="logType != null and logType !=''">
            and a.log_type like CONCAT('%',#{logType},'%')
        </if>
    </select>

    <!-- 删除记录，逻辑删除 -->
    <update id="removeAll">
        UPDATE sys_operation_log SET del_flag=1
    </update>

    <!-- 插入记录 -->
    <insert id="insert">
        INSERT INTO sys_operation_log(
        operation_log_id,
        log_type,
        log_name,
        user_id,
        class_name,
        method,
        create_time,
        succeed,
        message
        ) VALUES (
        REPLACE(UUID(),'-',''),
        #{logType},
        #{logName},
        #{userId},
        #{className},
        #{method},
        #{createTime},
        #{succeed},
        #{message}
        )
    </insert>
</mapper>
