<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailei.modules.test.news.mapper.TestNewsMapper">

	<!-- 通用结果集 -->
	<sql id="Base_Column_List">
				a.type AS type,
		a.id AS id,
		a.create_date AS createDate,
		a.update_date AS updateDate,
		a.del_flag AS delFlag,
		a.title AS title,
		a.content AS content,
		a.public_time AS publicTime
	</sql>

	<!-- 根据记录ID获取记录 -->
    <select id="getById" resultType="com.sailei.modules.test.news.entity.TestNews">
		SELECT
			 <include refid="Base_Column_List"/>
		FROM test_news a
		WHERE a.del_flag='0' and a.id = #{id}
	</select>

    <!-- 根据条件获取记录列表 -->
    <select id="queryPage" resultType="com.sailei.modules.test.news.entity.TestNews">
        SELECT
        	<include refid="Base_Column_List"/>
        FROM test_news a
		WHERE a.del_flag='0'
		<choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
            </when>
            <otherwise>
                ORDER BY a.id DESC
            </otherwise>
        </choose>
        <if test="page !=null and page != -1 and limit != null and limit != ''">
            limit ${page},${limit}
        </if>
    </select>

  	<!-- 根据条件获取记录列表条数 -->
    <select id="queryCount" resultType="java.lang.Long">
        SELECT
            COUNT(1)
        FROM test_news a
		WHERE a.del_flag='0'
    </select>

	<!-- 保存记录 -->
	<insert id="save">
		INSERT INTO test_news(
				type,
		id,
		create_date,
		update_date,
		title,
		content,
		public_time
		) VALUES (
				#{type},
		#{id},
		#{createDate},
		#{updateDate},
		#{title},
		#{content},
		#{publicTime}
		)
	</insert>

	<!-- 根据ID更新记录 -->
	<update id="updateById">
		UPDATE test_news SET
				type = #{type},
		create_date = #{createDate},
		update_date = #{updateDate},
		title = #{title},
		content = #{content},
		public_time = #{publicTime}
		WHERE id = #{id}
	</update>

	<!--根据ID移除记录-->
	<update id="remove">
		UPDATE test_news SET del_flag='1' WHERE id = #{id}
	</update>
</mapper>